.postBox{
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex: 1;
    border-radius: 5px;
    padding: 15px;
    box-sizing: border-box;
    border: 3px solid #262525;

    .imageArea{
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        > img {
            aspect-ratio: 1/1;
            width: 90%;

        }
    }

    .contentArea{
        flex: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: left;
        gap: 8px;

        .title{
            font-size: 2rem;
            font-weight: 900;
            cursor: pointer;

        }

        .article{
            font-size: 1.5rem;
            transition: .4s;
        }

        .postFooter{
            font-size: 1rem;
            font-weight: 900;
            color: rgba(188, 188, 188, 0.81);
            display: flex;
            justify-content: right;
            gap: 20px;

            .categoryLink {
                transition: color .4s;
                cursor: pointer;
            }
            .categoryLink:hover{
                color: #7979ad;
            }
        }
    }

}

.title:hover{
    text-decoration: underline;
}